html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(250deg, rgba(5, 247, 78, 0.685), rgb(1, 196, 255));
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notifications-box{
  height: 620px;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.notifications-box::-webkit-scrollbar {
  width: 7px;
}
.notifications-box::-webkit-scrollbar-track {
  background-color: darkgrey;
  border-radius: 20px;
}
.notifications-box::-webkit-scrollbar-thumb {
  background-color: rgba(80, 105, 173, 0.726);
  border-radius: 20px;
}


.notice-parent {
  position: relative;
  background: white;
  width: 440px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.notice-parent[data-isopen="true"] {
  width: 440px;
  height: 100%;
  position: relative;
  margin-bottom: 15px;
}

.notice-child {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #d9d8df;
  border-radius: 50%;
  left: 11px;
}
.notice-content{
  font-size: 13px;
  width: 65%;
  font-family: 'Gowun Dodum', sans-serif;
}
.notice-content[data-isopen="false"]{
  max-height: 90px;
  max-width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Gowun Dodum', sans-serif;
}
.button-label {
  color: ivory;
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  /*요소의 높이/너비의 반(50%)만큼 위/왼쪽으로 이동*/
  transform: translate(-50%, -50%);
}

.notice-removeBtn{
  position: absolute;
  top: 5px;
  right:7px;
  background-color: #fff;
  border: #fff;
  font-size: 16px;
  color: gray;
}
.notice-createdAt{
  color: gray;
  font-size: 11px;
  margin-top: 20px;
  position: absolute;
  right: 10px;
}
