html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(250deg, #f72f8c, #e7b7b7);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
